<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="website_partner_menu" model="website.menu">
        <field name="name">regional team</field>
        <field name="url">/leads/form</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence" type="int">99</field>
    </record>
</odoo>
